* {
  margin: 0px;
  padding: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.btn-primary {
  border-color: #4083e2;
  background-color: #1e54a0;
}

.btn-success {
  border-color:#7CA982;
  background-color:#2e4e44;
}

.btn-danger {
  border-color:#bb4b4b;
  background-color: #971818;
}

/* div.col {
  padding-left: 10%;
} 

div.col-6 {
  padding-left: 5%;
} */

#root {
  /* background-color: #F1F7ED; */
  overflow: off;
  /* padding-bottom: 100px; */
}

html, body {
  height: 100%;
  background-color: #243E36;
}

#main {
  background-color: #F1F7ED;
  /* overflow: auto; */
  padding-bottom: 100px;
  min-height: 100vh;
}

.outer-cont {
 min-height: 100%;
 min-height: 100vh;
  /* background-color: #F1F7ED;
  height: 100vh;
  padding-top: 0px;
  margin-top: 0px; */
}

.menu-bar {
  background-image: linear-gradient(-90deg, #7CA982, #F6AE2D)
}

.footer-outer {
  background-image: linear-gradient(-90deg, #F6AE2D, #7CA982);
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
}

.reg-message {
padding-right: 10px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: large;
font-weight: 500;
position: relative;
}

.reg-btn {
margin-top: 10px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: #266DD3;
border: none;
}

.copyright-text {
padding-bottom: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* footer {
  background-color: navy;
  position: relative;
  height: 50px;
  margin-top: -50px;
  clear: both;
  outline-style: solid;
  outline-color: white;
} */

.nav-link {
  font-size: 16px;
  margin: 3px;
  color: white!important;
  font-weight: 500;
}

.nav-login {
  background-color: #266DD3;
  text-align: center;
  border: none;
}

.navbar-nav {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: auto;
  margin-right: 2%;
  font-weight: 600;
  font-size: large;
}


/* a.navbar-brand {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 1000;
  font-size: xx-large;
  color: white;
  margin-left: 2%;
  vertical-align: middle;
} */

a.nav-link {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 1000;
  font-size: large;
  color:navy;
} 

.logo {
  margin-left: 10px;
  padding-top:5px;
}

.leaflet-container {
  padding: 0;
  margin-top: 2%;
  margin-right: 5%;
  /* margin-bottom: 10%; */
  margin-left: 5%;
  width: 90%;
  height: 60vh;
  border-color: #266DD3;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
}

.map-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
  font-weight: 600;
  padding: 0;
  margin-right: 5%;
  color: #266DD3;
  text-align: right;
  margin-bottom: 5%;
  /* margin-top: -10%; */
}

.leaflet-marker-icon {
  margin-left: -12px;
  margin-top: -41px; 
  width: 24px;
  height: 41px;
  transform: translate3d(35px, 200px, 0px);
  z-index: 200;
}

.leafletPin-5 {
  filter: grayscale(0%) hue-rotate(30deg) saturate(6);
}
.leafletPin-4 {
  filter: grayscale(20%) hue-rotate(30deg) saturate(5);
}
.leafletPin-3 {
  filter: grayscale(45%) hue-rotate(30deg) saturate(4);
}
.leafletPin-2 {
  filter: grayscale(70%) hue-rotate(30deg) saturate(4);
}
.leafletPin-1 {
  filter: grayscale(85%) hue-rotate(30deg) saturate(4);
}

@keyframes iconAnimate {
  from {width: 24px;}
  to {width: 32px;}
}

.leaflet-marker-icon:hover {
  filter: hue-rotate(340deg) saturate(4) invert(1);
  animation-name: iconAnimate;
  animation-duration: 150ms;
}

.pop-head {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: 800;
  font-style: italic;
}

.pop-txt {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  font-weight: 700;
}

.map-pin-btn {
  background-color: white;
  border-color: black;
  border-width: 2px;
}

.map-trip-btn {
  background-color: white;
  border-color: black;
  border-width: 2px;
}

.leaflet-popup-content-wrapper {
  background-image: url(./images/TravelingJournal.jpg);
  width: 315px;
  border: solid;
  border-right: black;
  border-bottom: black;
  border-top: black;
  border-width: 18px;
  border-radius: 4px;
}


.leaflet-interactive {
  /* color: black;
  background-color: black;
  size: 10px;
  height: 50px; */
}

.leaflet-zoom-animated {
  /* color: black; */
  /* background-color: black; */
}

/* .leaflet-popup-content-wrapper {
  background-color: #266DD3;
  height: 40px;
  width: 110px;
} */

/* .leaflet-popup-tip {
  background-color: navy;
  outline-style: none;
  outline-color: transparent;
  outline-width: 0px; 
} */

/* .leaflet-popup-content {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-color: NAVY;
  font-size: x-small;
  opacity: 1;
} */


.center {
  text-align: center;
}

.home-points {
  margin-left: 20px;
}

#pinlist-table thead {
  background-color:#2e4e44
  border
}

.title-bar {
  background-color:#2e4e44;
  color: white;
  border-radius: 6px;
}

#pinlist-table td {
  vertical-align: middle;
}

.edit-trip {
  text-align: center;
}

#states-tracking-card, #states-going, #states-been {
  background-color: #14221d;
  color:#7CA982;
}

#pin-card-msg {
  background-color: #7CA982;
}
